---
import '../styles/global.css';
import PostDos from "../components/PostDos.astro"
---

<html lang="es-Es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="container w-5/6 p-4">
		<h1 class="text-3xl text-center">Enviar un objeto de JavaScript con toda la información</h1>

		<PostDos post = {{
			title: 'POST NUMERO UNO',
			description: '¿Por qué duermen tanto los gatos?'
		}}/>
		<PostDos post = {{
			title: 'POST NUMERO DOS',
			description: 'Valeriana para gatos: sedantes y juguetes?'
		}}/>

	</body>
</html>
