---
import '../styles/global.css';
import PostBbdd from "../components/PostBbdd.astro";
const respuesta = await fetch("http://localhost:3000/posts");
const post = await respuesta.json();
---

<html lang="es-Es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="container w-5/6 p-4 mx-auto">
		<h1 class="text-3xl text-center">Leer desde BBDD</h1>

		<!-- div para mostrar los posts en forma de galería -->
		<div class="grid max-w-7xl mx-auto w-full justify-center
		justify-items-center items-center gap-4 px-2 sm:grid-cols-2
		lg:grid-cols-3">
			{ post.map((post: any) => <PostBbdd post={post}/>) }
		</div>

	</body>
</html>
